@font-face {
    font-family: 'Bondoni FLF';
    src: url('../../../public/fonts/BodoniFLF-Roman.ttf') format('truetype'); 
    /* update the url with the correct path to your font file */
  }


  .logo_button{
    position: relative;
    left: 50px;
    top : -20px;
    width: 175px;
    height: 175px;
    overflow-x: hidden;
  }


.main_button {
    position: relative;
    top: -70px;
    left: 28vw;
    border: none;
    font-family: 'Bodoni FLF';      
    background-color: white;   
    font-size: 33px; 
    margin-left: 10px;
    color:black;
    overflow-x: hidden;
}


.main_button:hover {
    text-decoration: underline;
}


.sign-up {
  position: absolute; /* Updated */
  right: 20px; /* Updated */
  top: 50px; /* Updated */
  font-size: 18px;
  margin-right: 50px;
}

.sign-up:hover {
    color: lightslategray;
}


/* .main_button.clicked {
    position: relative;
    top: 50px;
    left: 395px;
    border: none;
    font-family: 'Bodoni FLF';      
    background-color: white;   
    font-size: 23px; 
    margin: 15px;   
    font-weight: bolder;
} */




/*
.buy_button {
    position: relative;
    top: 50px;
    left: 395px;
    border: none;
    font-family: 'Bodoni FLF';      
    background-color: white;   
    font-size: 23px; 
    margin: 15px;                 
}

.sell_button {
    position: relative;
    border: none;
    top: 50px;
    left: 395px;
    font-family: 'BodoniFLF';
    background-color: white; 
    font-size: 23px;
    margin: 15px;
}

.trade_button {
    position: relative;
    border: none;
    top: 50px;
    left: 395px;
    font-family: 'BodoniFLF';
    background-color: white; 
    font-size: 23px;
    margin: 15px;
}

*/


