@font-face {
    font-family: 'Bondoni FLF';
    src: url('../../../public/fonts/BodoniFLF-Roman.ttf') format('truetype'); 
    /* update the url with the correct path to your font file */
  }


  .logo_button{
    position: relative;
    left: 50px;
    top : -20px;
    width: 175px;
    height: 175px;
    overflow-x: hidden;
  }


.main_button {
    position: relative;
    top: -70px;
    left: 28vw;
    border: none;
    font-family: 'Bodoni FLF';      
    background-color: white;   
    font-size: 33px; 
    margin-left: 10px;
    color:black;
    overflow-x: hidden;
}


.main_button:hover {
    color: gray;
}


.sign-up {
  position: absolute; 
  right: 7%;
  top: 50px; 
  font-size: 18px;
  
}

.sign-up:hover {
    color: lightslategray;
}

.active .main_button {
    font-weight: bold;
}

.cart{
  position: absolute; 
  right: 2%; 
  top: 50px; 
  font-size: 18px;
}

