.listing-container {
    display: flex;
    margin: 1%;
  }
  
  .imageHandler {
    flex: 1;
    margin-left: 2%;
  }
  
  .indiv_listing {
    flex: 1;
  }

  body {
    overflow-x: hidden;
  }
  
  
  
  
  
  
  
  
