
/* .masonry{
  justify-content: center;
  display: flex;
  margin-top: 30px;
  background-color: black;
  padding-top: 30px;
  width: 100vw;
  overflow-x: hidden;
} */


.masonry{
  justify-content: center;
  display: flex;
  background-color: black;
  padding-top: 30px;
  width: 100vw;
  overflow: hidden;
}
