@font-face {
    font-family: 'Bondoni FLF';
    src: url('../../../../public/fonts/BodoniFLF-Roman.ttf') format('truetype'); 
    /* update the url with the correct path to your font file */
  }

.para {
    font-family: "Bondoni FLF";
    font-size: 30px;
    padding-left: 10%;
    padding-bottom: 10px;
    overflow-y: hidden;
}

.email {
    position: relative;
    left: 41%;
    top: 100px;
    font-family: "GM_C";
    overflow-y: hidden;
}

.password {
    position: relative;
    left: 41%;
    top: 100px;
    overflow-y: hidden;
}

.login {
    position: fixed;
    left: 41%;
    font-size: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.dont_have_an_account {
    position: relative;
    top: 100px;
    left: 41%;
    overflow-y: hidden;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

